
    @media(min-width: 768px){
        .logoweb a img{
            width: 20em;
        }
        .logophone{
            display: none;
        }
        .footer-logo img{
            width:20em;
        }
    }
    @media(max-width: 767px){
        .logophone a img{
            width: 12em;
        }
        .logoweb{
            display: none;
        }
        
    }
    #padlock{
        width: 130px;
        margin-top: 5em;
        opacity: 50%;
    
    }
    