
    @media(min-width: 768px){
        .logoweb a img{
            width: 20em;
        }
        .logophone{
            display: none;
        }
        .footer-logo img{
            width:20em;
        }
        .landingimage{
            width:500px;
          }
    }
    @media(max-width: 767px){
        .logophone a img{
            width: 12em;
        }
        .logoweb{
            display: none;
        }
        .techwix-hero-section .hero-content{
            padding-top:0px;
        }
        .techwix-hero-section .hero-content .sub-title {
            font-size:18px;
        }
        
    }
    #padlock{
        width: 100px;
        margin-top: 5em;
        opacity: 25%;
    
    }
    .hero-images img{
        border-radius: 10px;
    }

    .svgimg{
        background-color: rgb(242, 243, 245);
    }
    #bgimg{
        filter: blur(100px);
    }
    .about-img1{
        width:600;
        height:600;
    }
    .indexhero{
        width:585px;
        height:426px;
    }

    .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form select:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
        height: 55px;
        line-height: 55px;
        border: 1px solid #ebebeb;
        padding-left: 15px;
        width:100%;
      }
      
      .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form select:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-webkit-input-placeholder {
        opacity: 0.95;
        font-size: 14px;
        color: #4c4d56;
        font-family: "Outfit", Outfit;
        font-weight: 400;
      }
      
      .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form select:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-moz-placeholder {
        opacity: 0.95;
        font-size: 14px;
        color: #4c4d56;
        font-family: "Outfit", Outfit;
        font-weight: 400;
      }
      
      .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form select:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-moz-placeholder {
        opacity: 0.95;
        font-size: 14px;
        color: #4c4d56;
        font-family: "Outfit", Outfit;
        font-weight: 400;
      }
      
      .techwix-contact-section .contact-wrap .contact-form .contact-form-wrap .single-form select:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-ms-input-placeholder {
        opacity: 0.95;
        font-size: 14px;
        color: #4c4d56;
        font-family: "Outfit", Outfit;
        font-weight: 400;
      }
      

      width="638px" height="907px"